@tailwind base;
@tailwind components;
@tailwind utilities;

.bgGradient {
    background-image: radial-gradient(#7c00a8, #1f0086);
    padding: 1em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1em;
    margin: 1em;
}